.block_course_main_menu li { clear: both; }
.block_course_main_menu li .column { width: 100%; }
.block_course_main_menu li .buttons { float: right; margin: 0; }
.dir-rtl .block_course_main_menu li .buttons { float: left; }
.block_course_main_menu li .buttons a img{ vertical-align: text-bottom;}
.block_course_main_menu .footer { margin-top: 1em; }
.block_course_main_menu .section_add_menus noscript div { display: inline;}
